@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #46494b;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 	#1e2124;
    --foreground: #ededed;
    --accent: #c2c2c2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  width: 100%;
  height: 100%;
}
